@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Smooth Transition for Theme Switching */
body {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

/* Light Mode */
.light-mode {
  background-color: white;
  color: black;
}

/* Dark Mode */
.dark-mode {
  background-color: black;
  color: white;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
